	.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

body {
    margin: 0px;
}

.body {
	margin: auto;
	width: 100%;
	background-color: #fff;
	font-family: 'Open Sans';
}

.side-header {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;    
	box-shadow: 2px 0px 7px #b8b8b8;
}

.company-name-container {
	margin-left: 20px;
    flex-grow: 2;
}

.company-name-container p {
    font-size: 22px;
}

.side-header-rightside ul {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.side-header-rightside li {
    margin-right: 20px;
    display: flex;
    align-items: center;
}

li {	
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

.side-header-rightside .button {
    background-color: transparent;
    border: 1px solid #518dfb;
    border-radius: 5px;
    color: #518dfb;
    padding: 9px 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.side-header-rightside .button:hover {
    background-color: #518dfb;
    color: white;
    font-weight: bold;
}

.side-header-rightside li.sing-up-button {
    margin-right: 10px;
}

.entry-content {
    text-align: center;
    margin: 60px auto;
    width: fit-content;
}

.main-info {
    width: 600px;
    margin: auto;
    line-height: 1.5em;
}

.main-info h1 {
    font-weight: 100;
    letter-spacing: 0.02em;
    font-size: 40px;
}

.offers {
    display: flex;
    margin-top: 40px;
    justify-content: center;
    flex-flow: row;
}

.free, .pro, .enterprise {
    border: 3px solid #80808061;
    border-radius: 5px;
	margin: 5px 16px;
    width: 310px;
}

.free h2, .pro h2, .enterprise h2 {
    border-bottom: 2px solid #80808061;
    margin: 0;
    padding: 18px;
    font-weight: normal;
    background-color: #fafafa;
}

p.cheap-price {
    padding: 15px;
}

.free p, .pro p, .enterprise p {
    margin: 8px;
    line-height: 1.4em;
}

.sing-up-for-free > .button {
    background-color: transparent;
    border: 1px solid #367cfa;
    border-radius: 5px;
    color: #367cfa;
    padding: 15px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    margin: 20px;
    width: calc(100% - 40px);
}

.get-started > .button, .contact-us > .button {
    background-color: #367cfa;
    border-radius: 5px;
    color: white;
    padding: 15px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    margin: 20px;
    width: calc(100% - 40px);
}

.footer-menu-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    border-top: 1px solid #80808061;
    margin-top: 100px;
    padding-top: 50px;
}

.footer-icon-copyrights {
    flex-grow: 1;
    justify-content: flex-start;
    display: flex;
}

.footer-icon-copyrights a {
    background: #563c7a;
    border-radius: 5px;
    width: 28px;
    color: white;
    text-align: center;
    padding: 1px 0px;
    display: block;
    height: 28px;
    margin-bottom: 10px;
    font-size: 25px;
    line-height: 1em;
}

.footer-icon-copyrights p {
    margin: 0;
}

.footer-info {
    flex-direction: row;
    display: flex;
    flex-grow: 4;
    margin: 0px 60px;
}

.footer-features, .footer-resources, .footer-about {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.footer-features ul, .footer-resources ul, .footer-about ul {
    margin: 0;
	text-align: left;
}

.footer-features h2, .footer-resources h2, .footer-about h2 {
    margin: 0 0 10px 0;
    line-height: 1em;
}
